
/* small device responsive code start from here */
@media screen and (max-width:  576px) {

    .view_screen_size {
        width: 70%;
    }

    .nav_section,
    .nav_items,
    .nav_items ul,
    .gamer_container {   
        flex-direction: column;
    }

    .nav_items ul {
        margin-top: 25px;
    }

    .nav_items {
        align-items: center;
    }

    .nav_icon {
        justify-content: center;
    }

    .head_button {
        margin-top: 30px;
        padding: 15px 20px;
        justify-content: center;
        font-size: 3vw;
    }

    .head_button i {
        font-size: 3vw;
    }
    
    .nav_icon h1 img {
        width: 12vw;
        margin-right: 17px;
    }

    .nav_icon h1 {
        font-size: 8vw;
    }

    header nav {
        box-shadow: none;
    }

    .banner_container {
        flex-direction: column-reverse;
    }

    header {
        height: auto;
    }

    .banner_img_part img {
        width: 100%;
        margin-top: 20px;
    }

    .all_banner {
        background-image: none;
    }

    .banner_text_part {
        margin-top: 20px;
        width: 100%;
        background-image: url("../images/Group\ 14.png");
        background-size: 107%;
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .banner_text_part h2 {
        font-size: 1.2rem;
    }

    .banner_style_txt {
        font-size: 2.3rem;
    }

    .feature_text p {
        font-size: .6rem;
        margin-top: 8px;
    }

    .banner_btn {
        font-size: .7rem;
        padding: 10px 20px;
    }

    .banner_btn_area {
        margin-top: 10px;
    }

    .gamer_section {
        background: none;
    }

    .gamer_container {
        padding-top: 0px;
        gap: 10px;
    }

    .gamer_text_part {
        width: 100%;
        text-align: center;
    }

    .gamer_title {
        font-size: 1.6rem;
    }

    .gamer_description {
        font-size: .7rem;
        line-height: 1.2rem;
    }

    .our_purpose strong {
        font-size: .8rem;
    }

    .our_purpose .quote {
        font-size: 1rem;
    }

    .video_card {
        grid-template-columns: 1fr;
    }

    .funny_video_section {
        margin-top: 20px;
    }

    .funny_video_title {
        font-size: 1.6rem;
    }

    .funny_video_description {
        font-size: .7rem;
        margin-top: 10px;
    } 

    .video_card {
        margin-top: 30px;
    }

    .card p {
        margin-top: 8px;
        font-size: .7rem;
    }

    .playing_cards {
        flex-direction: column;
        gap: 50px;
    }

    .playing_text, 
    .playing_img {
        width: 100%;
    }

    .playing_section {
        margin-top: 50px;
    }

    .playing_text h1 {
        font-size: 1.7rem;
        text-align: center;
    }

    .playing_text p {
        width: auto;
        font-size: .7rem;
        line-height: 1rem;
        text-align: center;
    }    

    .playing_img img {
        float: right;
    }

    .playing_img img:first-child {
        width: 80%;
        height: auto;
    }

    #upper_img {
        width: 35%;
        transform: translateX(-186%) translateY(-78%);
    }

    .tow_part_pc img {
        float: left;
    }

    .tow_part_pc #upper_img {
        transform: translateX(182%) translateY(-78%);
    }

    .careers_container {
        flex-direction: column;
        gap: 60px;
        padding: 50px 0;
    }

    .careers_container > div {
        width: 100%;
    }

    .career_title {
        font-size: 2rem;
    }

    .career_description {
        line-height: 1.2rem;
        font-size: .6rem;
    }

    .workers_details  {
        font-weight: 500;
        font-size: .6rem;
    }

    .category_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
    }

    .category_item img {
        width: 25px;
    }

    .category_item {
        justify-content: space-evenly
    }

    .category_item strong {
        font-size: .6rem;
    }

    .footer_icon {
        text-align: center;
        align-items: center;
    }

    .footer_icon h1{
        font-size: 1.7rem;
        display: flex;
        align-items: center;
    }

    .footer_icon h1 img {
        width: 25%;
        margin-right: 5px;
    }

    .footer_nav {
        width: 100%;
    }

    .footer_nav ul {
      flex-wrap: wrap;
      gap: 20px;
    }

    .footer_nav ul li a {
        font-size: 1.8vw;
    }

    .footer_container {
        width: 80%;
    }

    .foot_icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        align-content: center;
        gap: 10px;
        row-gap: 20px;
        font-size: 1.5rem;
    }

    .more_nav ul {
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px 0;
        margin-top: 20px;
    }

    .more_nav ul li a {
        font-size: .5rem;
    }

    .foot_icons {
        width:60%;
        margin-top: 20px;
        text-align: center;
    }

    .copyright_text {
        margin-top: 10px;
        font-size: .5rem;
    }

}
/* small device responsive code end from here */

/* medium device responsive code start from here */
@media screen and (min-width: 577px) and (max-width: 920px) {
    header {
        height: auto;
    }

    .nav_section {
        flex-direction: column;
        align-items: center;
    }

    .nav_items {
        margin-top: 30px;
    }

    .banner_container {
        flex-direction: column-reverse;
    }

    .all_banner {
        background-image: none;
    }

    .banner_img_part {
        text-align: center;
    }

    .banner_text_part {
        margin-top: 50px;
        width: 100%;
        background-image: url("../images/Group\ 14.png");
        background-size: 97%;
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .gamer_container {
        margin-top: 0px;
        flex-direction: column;
        gap: 20px;
    }

    .gamer_text_part {
        width: 100%;
        text-align: center;
    }

    .gamer_section {
        background: transparent;
    }

    .video_card {
        grid-template-columns: 1fr 1fr;
    }

    .playing_cards {
        flex-direction: column;
        gap: 50px;
        
    }

    .playing_text, 
    .playing_img {
        width: 100%;
    }

    
    .playing_img img {
        float: right;
    }

    .playing_img img:first-child {
        width: 80%;
        height: auto;
    }

    #upper_img {
        width: 35%;
        transform: translateX(-186%) translateY(-78%);
    }

    .tow_part_pc img {
        float: left;
    }

    .tow_part_pc #upper_img {
        transform: translateX(182%) translateY(-78%);
    }

    .careers_container {
        flex-direction: column;
        gap: 60px;
        padding: 50px 0;
    }

    .careers_container > div {
        width: 100%;
    }

    .footer_nav ul {
        flex-wrap: wrap;
        gap: 20px;
      }

      .foot_icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: space-between;
        gap: 20px;
    }

    .more_nav ul {
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px 0;
        margin-top: 20px;
    }
}
/* medium device responsive code end from here */