 
/* common style is start from here */
* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.standard_size {
    margin: 0 auto;
    max-width: 1400px;
}

.view_screen_size {
    width: 80%;
    margin: 0 auto;
}
/* common style is end from here */


/* header section styling start from here */

header {
    height: 100vh;
}

header nav {
    box-shadow: 1px 1px 10px 1px #dfdbdb;
}

.nav_section {   
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.nav_items {
    display: flex;
}

.nav_items ul {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 25px;
}

.nav_items ul li {
    list-style: none;
}

.nav_items ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #3C354F;
}

.head_button {
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.head_button i {
    font-size: 1.4rem;
    margin-left: 10px;
}

.head_button i.fa-youtube {
    color: red;
}

.nav_icon {
    display: flex;
    align-items: center;
}

.nav_icon h1 {
    font-size: 2.5rem;
}

.nav_icon h1 img {
    width: 28%;
    margin-right: 17px;
}

.nav_icon h1 span {
    color: #FF42A5;
}
/* header section styling end from here */