 
/* common style is start from here */
* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

.standard_size {
    margin: 0 auto;
    max-width: 1400px;
}

.view_screen_size {
    width: 80%;
    margin: 0 auto;
}

.banner_btn {
    padding: 15px 30px;
    border: none;
    background-color: #FF42A5;
    border-radius: 50px;
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
}

.text_gradient {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* common style is end from here */


/* header section styling start from here */

header {
    height: 102.5vh;
}

header nav {
    box-shadow: 1px 1px 10px 1px #f1f1f1;
}

.nav_section {   
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.nav_items {
    display: flex;
}

.nav_items ul {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 25px;
}

.nav_items ul li {
    list-style: none;
}

.nav_items ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #3C354F;
    font-weight: 500;
}

.head_button {
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.head_button i {
    font-size: 1.4rem;
    margin-left: 10px;
}

.head_button i.fa-youtube {
    color: red;
}

.nav_icon {
    display: flex;
    align-items: center;
}

.nav_icon h1 {
    font-size: 2.5rem;
}

.nav_icon h1 img {
    width: 28%;
    margin-right: 17px;
}

.nav_icon h1 span {
    color: #FF42A5;
}
/* header section styling end from here */


/* banner section styling start from here */
.banner_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all_banner {
    background-image: url("../images/Group\ 14.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
}

.banner_img_part {
    text-align: right;
}

.banner_img_part img {
    width: 75%;
    height: 100%;
}

.banner_text_part h2 {
    font-size: 2.3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.banner_style_txt {
    font-size: 4rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.feature_text p i {
    color: red;
    margin-right: 7px;
}

.feature_text p:last-child > i {
    color: #3C354F;
    font-size: .8rem;
}

.feature_text p {
    font-size: .9rem;
    margin-top: 10px;
    font-weight: 500;
}

.banner_btn_area {
    margin-top: 30px;
}

/* banner section styling end from here */

/* ................................................... */

/* we are gamer section styling start from here */
.gamer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 50px 0;
}

.gamer_section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer_img_part img{
    width: 100%;
}

.gamer_text_part {
    width: 52%;
    text-align: right;
}

.gamer_title {
    font-size: 2.4rem;
    margin-bottom: 15px;
}

.gamer_description {
    font-size: .9rem;
    line-height: 1.4rem;
    margin-bottom: 20px;
}

.our_purpose {
    margin-top: 25px;
}

.our_purpose strong {
    font-size: 1.2rem;
    font-weight: 400;
    color: #534C64;
}

.our_purpose .quote {
    color: #534C64;
    margin-top: 5px;
}
/* we are gamer section styling end from here */


/* funny video section styling start from here */

.funny_video_section {
    margin-top: 90px;
}

.funny_video_title {
    font-size: 2.4rem;
    text-align: center;
}

.funny_video_description {
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
}

.video_card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.card_img img{
    width: 100%;
}

.card p {
    margin-top: 15px;
    line-height: 1.5rem;
    font-size: .9rem;
    font-weight: 500;
}

.play_content {
    text-align: center;
    position: absolute;
    top: 32%;
    left: 30%;
    visibility: hidden;
    transition: .1s ease;
}

.play_content i {
    font-size: 2rem;
    color: white;
    margin-bottom: 7px;
}

.overlay {
    visibility: hidden;
    position: absolute;
    transition: .3s ease;
}

.play_content strong {
    color: #F948B2;
}

.card_img:hover .overlay {
    visibility: visible;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 4px);
    background-color: rgba(0, 0, 0, 0.664); /* Replace with your desired background color */
    z-index: 1;
    border-radius: 8px;
}

.card_img:hover .play_content {
    visibility: visible;
    z-index: 2;
}

.card_img {
    position: relative;
}

.card_img:hover > img  {
    border-radius: 10px;
    outline: 5px solid #FF42A5;
}


/* funny video section styling end from here */